$blue: #007fc0;

//--------------------- COLOR PALLETE ----------------------//

$blueEbony: #233340;   //color-primary
$blueDogder: #2197ff;       //color-hover
$blueDemin: #1b79cc;        //color-active
$grayMirage: #1c2933;
$white: #fff;
$grayGull: #9fb0bc;

$color-primary: $blue;
$color-primary-hover: $blueDogder;
$color-primary-active: $blueDemin;

$color-bg-navBar: $grayMirage;
$color-text-navBar: $white;

$color-bg-sideNav: $blueEbony;
$color-text-menuitem: $grayGull;
$color-text-menuitem-active: $blueDemin;
$color-text-menuitem-hover: $blueDemin;
$color-bg-menuitem-active: rgba(255,255,255,0.03);

$color-checkbox: $blueDogder;

$color-input-focus: $blueDogder;
$color-input-valid: $blueDemin;


// ----------------------------//
$fontIcon: "Material Design Icons";


// ------------ MIXIN -----------------//
@mixin iconCircle ($value) {
    width: $value;
    height: $value;
    line-height: $value;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}