@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6v8cvm');
  src:  url('fonts/icomoon.eot?6v8cvm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6v8cvm') format('truetype'),
    url('fonts/icomoon.woff?6v8cvm') format('woff'),
    url('fonts/icomoon.svg?6v8cvm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart-outline:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e909";
}
.icon-close-circle:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-gmail:before {
  content: "\e902";
}
.icon-google:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-minus:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}

