
@{
    ViewBag.Title = "AdContactView";
}

<section id="container" ng-controller="AdContactController">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">

        <div class="logo">
            <a href="~/AdDashboard/" target="_self" class="logo-text"><b>Admin Site</b></a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
        </div>

        <div class="top-menu">
            <span class="page-title">Report</span>
            <a class="btn btn-logout pull-right" href="login.html">Logout</a>
        </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="~/AdDashboard/" target="_self">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="~/AdProduct/" target="_self">
                        <i class="fa fa-list"></i>
                        <span>Product</span>
                    </a>
                </li>
                <li>
                    <a href="~/AdCustomer/" target="_self">
                        <i class="fa fa-users"></i>
                        <span>Customer</span>
                    </a>
                </li>
                <li>
                    <a class="" href="~/AdStaff/" target="_self">
                        <i class="fa fa-user"></i>
                        <span>Staff</span>
                    </a>
                </li>
                <li>
                    <a href="~/AdReport/" target="_self">
                        <i class="fa fa-table"></i>
                        <span>Report</span>
                    </a>
                </li>
                <li>
                    <a class="active" href="~/AdContact/" target="_self">
                        <i class="fa fa-phone"></i>
                        <span>Contact</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div growl></div>
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <div class="table-header">
                            <h4 class="header-title">Customer Contact</h4>
                        </div>

                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Content</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="contact in ListContact.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <td>{{contact.ContactClientID}}</td>
                                    <td>{{contact.Name}}</td>
                                    <td>{{contact.Phone}}</td>
                                    <td>{{contact.Email}}</td>
                                    <td>{{contact.Content}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul uib-pagination total-items="ListContact.length" ng-model="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></ul>
                </div>
            </div>

        </section>
    </section>


</section>

@section JavaScript{
    <script src="~/Scripts/angular.js"> </script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/ScriptsNg/AdContactController.js"></script>
    <script src="~/Scripts/angular-growl.js"></script>
}

