.navbar-custom {
  background: #c9e1ed; }
  @media (min-width: 767px) {
    .navbar-custom {
      padding: 9px 0; } }

.contact-container {
  padding-top: 30px;
  padding-bottom: 30px; }

.page-contact footer {
  position: fixed;
  width: 100%;
  bottom: 0; }

.sidebox {
  background-color: #f8f8f8;
  padding: 30px;
  border-radius: 3px; }

.location-box {
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid #e8e8e8;
  overflow: hidden; }
  .location-box:first-child {
    border: 0;
    margin-top: 0;
    padding-top: 0; }
  .location-box .title {
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .location-box .sub-title {
    float: left;
    margin-left: 10px; }
    .location-box .sub-title p {
      margin-bottom: 5px; }
  .location-box .info {
    margin-bottom: 20px; }
    .location-box .info p {
      margin-bottom: 0; }

.customer-info .label-radio {
  margin-bottom: 5px; }

.customer-info .form-group {
  position: relative; }
  .customer-info .form-group .fa-check {
    top: 8px;
    right: -20px; }
  .customer-info .form-group div.text-danger {
    top: 8px;
    right: 8px; }

.order-item {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #bdbdbd;
  padding: 10px 0; }
  @media (min-width: 1024px) {
    .order-item > div {
      float: left; } }
  .order-item .item-img {
    height: 150px;
    width: 140px;
    text-align: center; }
    .order-item .item-img img {
      height: 80%; }
  .order-item .item-info {
    width: 200px; }
    .order-item .item-info .item-name {
      font-size: 16px;
      text-transform: uppercase;
      color: #222;
      margin-bottom: 0; }
    .order-item .item-info .item-price {
      font-size: 18px;
      color: #00537d;
      font-weight: bold; }
    .order-item .item-info .item-quantity .touchspin {
      border: 1px solid #bdbdbd; }
      .order-item .item-info .item-quantity .touchspin .input-group {
        float: left;
        width: 60px;
        text-align: center;
        border-radius: 0;
        border-top: 0;
        border-bottom: 0; }
      .order-item .item-info .item-quantity .touchspin .btn-touchspin {
        float: left;
        padding: 6px 9px;
        border-radius: 0;
        background: #e0e0e0; }
        .order-item .item-info .item-quantity .touchspin .btn-touchspin:active, .order-item .item-info .item-quantity .touchspin .btn-touchspin:focus {
          outline: none; }
        .order-item .item-info .item-quantity .touchspin .btn-touchspin:active, .order-item .item-info .item-quantity .touchspin .btn-touchspin:focus, .order-item .item-info .item-quantity .touchspin .btn-touchspin:hover {
          background: #c7c7c7; }
  .order-item .sub-total {
    font-size: 18px;
    color: #00537d;
    font-weight: bold;
    text-align: right;
    width: 150px; }
  .order-item .item-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 5px; }
    .order-item .item-close a {
      color: #a2a2a0; }
  .order-item.total {
    border-bottom: 0; }
    .order-item.total .total-text {
      font-size: 16px;
      text-transform: uppercase; }
    .order-item.total .total-price {
      font-size: 20px;
      color: #00537d;
      font-weight: bold; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

