
@{
    ViewBag.Title = "Product";
}

<section id="container" ng-controller="AdProductController">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">

        <div class="logo">
            <a href="~/AdDashboard/" target="_self" class="logo-text"><b>Admin Site</b></a>
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
        </div>

        <div class="top-menu">
            <span class="page-title">Product</span>
            <a class="btn btn-logout pull-right" href="login.html">Logout</a>
        </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="~/AdDashboard/" target="_self">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="active" href="~/AdProduct/" target="_self">
                        <i class="fa fa-list"></i>
                        <span>Product</span>
                    </a>
                </li>
                <li>
                    <a class="" href="~/AdCustomer/" target="_self">
                        <i class="fa fa-users"></i>
                        <span>Customer</span>
                    </a>
                </li>
                <li>
                    <a class="" href="~/AdStaff/" target="_self">
                        <i class="fa fa-user"></i>
                        <span>Staff</span>
                    </a>
                </li>
                <li>
                    <a href="~/AdReport/" target="_self">
                        <i class="fa fa-table"></i>
                        <span>Report</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div growl></div>
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <div class="table-header">
                            <h4 class="header-title">Product List</h4>
                            <a class="btn btn-add" href="#" ng-click="addProduct()">
                                <i class="icon fa fa-plus"></i>Add Product
                            </a>
                        </div>

                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product Name</th>
                                    <th>Image</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="productModel in ListProduct.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <td>{{productModel.ProductID}}</td>
                                    <td>{{productModel.ProductName}}</td>
                                    <td class="product-img">
                                        <img ng-src="data:image/JPEG;base64,{{base64ArrayBuffer(productModel.Image)}}">
                                    </td>
                                    <td>{{productModel.Price | vndFormat}}</td>
                                    <td>
                                        <button ng-click="updateProduct(productModel)" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button ng-click="deleteProduct(productModel)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul uib-pagination total-items="ListProduct.length" ng-model="currentPage" class="pagination-sm" items-per-page="itemsPerPage"></ul>
                </div>
            </div>

        </section>
    </section>


</section>

<!-- Modal -->
<script type="text/ng-template" id="myModal.html">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add New Product</h4>
        </div>
        <div class="modal-body">
            <form name="form">
                <div class="form-group">
                    <label for="name">Product Name</label>
                    <input type="text" name="name" ng-model="productModel.ProductName" class="form-control" id="name" placeholder="Product Name" required>
                    <i class="fa fa-check text-success" ng-show="form.name.$dirty && form.name.$valid"></i>
                    <div ng-show="form.name.$dirty && form.name.$invalid" class="text-danger">
                        <i class="fa fa-times text-danger"></i>
                        <span ng-show="form.name.$error.required">Bạn chưa nhập tên sản phẩm</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Price</label>
                    <input type="text" name="price" ng-model="productModel.Price" class="form-control" id="price" placeholder="Price" ng-pattern="/^[1-9][0-9]*$/" required>
                    <i class="fa fa-check text-success" ng-show="form.price.$dirty && form.price.$valid"></i>
                    <div ng-show="form.price.$dirty && form.price.$invalid" class="text-danger">
                        <i class="fa fa-times text-danger"></i>
                        <span ng-show="form.price.$error.required">Bạn chưa nhập giá</span>
                        <span ng-show="form.price.$error.pattern">Chỉ có thể nhập số lớn hơn 0</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Upload Image</label>
                    <input type="file" name="file" ngf-select ng-model="productModel.Image"
                           ngf-pattern="'image/*'"
                             ngf-accept="'image/*'" ngf-max-size="4MB" ngf-min-height="200"
                             @*ngf-resize="{width: 100, height: 100}"*@
                            class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" required>
                    <i class="fa fa-check text-success" ng-show="form.file.$dirty && form.file.$valid"></i>
                    <div ng-show="form.file.$invalid" class="text-danger">
                        <i class="fa fa-times text-danger"></i>
                        <span ng-show="form.file.$error.required">Bạn chưa chọn hình ảnh</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="cancel()" class="btn btn-close" data-dismiss="modal">Close</button>
            <button type="button" ng-click="ok()" class="btn btn-primary" ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)">{{action}}</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalDelete.html">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Confirm</h4>
        </div>
        <div class="modal-body">
            <span>Bạn có chắc chắn xóa ?</span>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="cancel()" class="btn btn-close" data-dismiss="modal">Không</button>
            <button type="button" ng-click="ok()" class="btn btn-primary">Xóa</button>
        </div>
    </div>
</script>

    @section JavaScript{
        <script src="~/Scripts/angular.js"> </script>
        <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
        <script src="~/ScriptsNg/AdProductController.js"></script>
        <script src="~/Scripts/angular-growl.js"></script>
        <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
        <script src="~/Scripts/ng-file-upload.min.js"></script>
    }
